

*{
    --color-fondo: #1b1b1b;
    --colorsecundario: #063e5a;
    --color-texto:#728584;
    padding:0;
    margin:0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    color: var(--color-texto);
    scroll-behavior: smooth;
    caret-color: transparent;

}

section:not(#header){
    height: 100vh;
}



:root {
    --anchoContainer: 1215px;
  }

body{
    background-color: var(--color-fondo);
    overflow-x: hidden;
}

.contenedor{
    width: 80%;
    max-width: var(--anchoContainer);
    margin: 0 auto;
}

.contenedor.flex{
    display: flex;
    justify-content: space-between;
    z-index: 2;
}


.headerCont{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    opacity: 1;

    animation:fadein 0.5s;
}


.seccionActiva .headerCont{
    display: flex;
    flex-direction: row;
    align-content: center;
    background: transparent;



}

#header:not(.seccionActiva) .headerCont{
    position: fixed;
}  

.fondo {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#header:not(.seccionActiva) .fondo{
    animation: fadein 0.5s;
    /* background: linear-gradient(180deg, rgba(27,27,27,0.9) 85%, rgba(255,255,255,0) 100%); */
    background: transparent;
}   

#header.seccionActiva .fondo{
    animation: fadeout 0.5s;
}

 


.headerCont.fadeout{
    opacity:0;
}

#header{
    z-index: 99;
    position: absolute;
    width: 100%;
}

.headerImgCont img{
    min-height: 50px;
    width: 12vw;


}


.menuCont{
    display: flex;
    align-items: center;
  
}

#header:not(.seccionActiva) .menuCont{

    position: absolute;
    top: 50%; /* Position the menu at 50% from the top */
    left: 50%; /* Position the menu at 50% from the left */
    transform: translate(-50%, -50%); /* Center the menu */

}



.btnMenu{
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
}
.seccionActiva .btnMenu{
    opacity: 1;
    display: flex;
    margin: auto 0;
    z-index: 999;
    flex-direction: column;
    gap: 3px; 
}

.seccionActiva .linea{
    width: 38px;
    height: 5px;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    transition: 0.2s;

}

.seccionActiva  .btnMenu.activo:hover .linea{
    background-color: var(--colorsecundario);
}

.seccionActiva .btnMenu.activo .linea{
    background-color: var(--color-texto);
    box-shadow: none;
}


.seccionActiva  .btnMenu.activo .linea.uno{
    transform: rotate(24deg);
    transform-origin: bottom left;
}

.seccionActiva  .btnMenu.activo .linea.dos{
    opacity: 0;
}


.seccionActiva  .btnMenu.activo .linea.tres{
    transform: rotate(-24deg);
    transform-origin: top left;
}





.seccionActiva .menuPrincipal{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size:1.5rem;
    display:none;
    opacity:0;
    transition: opacity 0.3s ease-in-out;
}

.menuPrincipal{
    display: none;
}

.menuPrincipal a li{
    transition: 0.3s ease-in-out;
}

.menuPrincipal a:hover li{
    color: var(--colorsecundario);
    transform: scale(1.1);
}

.seccionActiva .menuPrincipal.visible{
    display:flex;
    flex-direction: column;
    position:absolute;
}
.seccionActiva .menuPrincipal.activo{
    opacity:1;
    background-color: var(--color-fondo);
    right: 0;
    top: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
}

.seccionActiva .menuPrincipal.activo li{
    opacity: 1;
}

.menuPrincipal a {
    margin: 1rem 0;
}

.menuPrincipal li{
    float: left;
    margin: 0 20px;
    font-weight: bold;
}

.seccionActiva .menuPrincipal li {
    min-width: 80px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap:5px;
}

.imagen{
    width: 300px;
}

.img11{
    aspect-ratio: 1/1;
}

.img12{
    aspect-ratio: 1/2;
    grid-row-end: span 2;
}

.img21{
    aspect-ratio: 2/1;
    grid-column-end: span 2;
}

#galeria{
    margin: 60px 0;
}

#slider{
    position:absolute;
    top: 0;
}


.slider, .banner{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



.nosotro{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 36px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nosotro b{
    color:var(--colorsecundario);
}

.serviciosCont.contenedor{
    display: flex;
    align-items: center;
    width: 100%;
}


.servicios{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 10px;
}



.servicio{
    flex: 0 0 33.33%;    
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 15px;

}

.descServicio{
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-width: 3px;
    border-color: white;
    background-color: var(--colorsecundario);
    display: flex;
    align-items: center; 
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: 50px;

}

.descServicio h2{
    color: white;
    padding-top: 15px;
    font-size: 1.4em;
}

.contimg{
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-width: 3px;
    border-color: white;
}


.itemCarrusel{
    transition: transform 3s linear;
}

.chevron{
    width: 25px;
    height: 25px;
}

.servicio img{
    width: 100%;
}

.chevron.left{
    transform: rotate(180deg);
}



.formContenedor{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white ;
    border-radius: 20px;
}

.formContenedor form{
    display: flex;
    flex-direction: column;
}

.formContenedor form input, .formContenedor form textarea{
    padding: 5px;
    margin: 5px 0;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3);
    border: none;
    font-size: 1em;
}
@media screen and (max-width: 768px) {
    .servicios{
        align-items: center;
    }
    .servicio{
        flex: 0 0 100%;
        padding: 10px;
    }

}
